numpy==1.23.5
pandas==1.5.2
matplotlib
scipy
seaborn
ipykernel
scikit-learn
xgboost==1.7.2
Flask
flask_restful
requests
pydantic
kaggle
streamlit
mlflow
docker
uvicorn
fastapi
python-multipart
Path
distutils-pytest
setuptools==75.2.0