distutils-pytest
setuptools==75.2.0
numpy
pandas
matplotlib
scipy
seaborn
ipykernel
scikit-learn
xgboost==1.7.2
Flask
flask_restful
requests
pydantic
kaggle
streamlit
mlflow
docker
uvicorn
fastapi
python-multipart
Path
